  body {
      background-color: #e5eaee;
      font-family: "Titillium Web";
  }


  .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
  }

  .timer-coontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #FFF;
      width: 30%;
      margin: auto;
      padding: 2em;
      border-radius: 15px;
      text-align: center;
      gap: 30px;
  }

  .timer-display {
      font-size: 24px;
      font-weight: 600;
  }

  #startTimerButton {
      color: white;
      background: #f53b58;
      border: #f53b58;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 40px;
      border-radius: 15px;
      padding: 1em;
      font-size: 24px;
  }

  .timer-counter-container {
      display: none;
      position: fixed;
      top: 0;
      z-index: 99;
      background-color: #e5eaee;
      width: 100vw;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  }




  .advert-title {
      font-weight: 700;
  }


  .list {
      text-align: left;
      color: black;
      font-weight: 500;
  }

  #startTimerButton:hover {
      cursor: pointer;
  }

  #startTimerButton:disabled {
      background: gray;
      border: gray;
  }

  .form_container {
      width: 100%;
      margin-top: 100px;
  }


  .alert-time {
      color: #F53B58;
      display: none;
      margin-top: 5px;
      font-size: 16px;
    font-weight: 600;
  }

  /* Style for the popup */
  .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 40px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      z-index: 1000;
      border-radius: 20px;
      color: #F53B58;
      font-weight: 600;
  }


  /* Style for the overlay */
  .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
  }

  /* Style for the close button */

  .close-button {
      position: absolute;
      top: 15px;
      right: 10px;
      cursor: pointer;
      background: #F53B58;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
      font-size: 30px;
      text-align: center;
  }


@media screen and (max-width: 768px) {
    .timer-coontainer {
            width: 90%;
            margin: auto;
            padding: 1em;
            gap: 10px;
        }
    
        .timer-display {
            font-size: 20px;
            font-weight: 600;
        }
    
        #startTimerButton {
            width: 90%;
            height: 40px;
            padding: 1em;
            font-size: 20px;
        }
    
        .timer-counter-container {
            display: none;
            position: fixed;
            top: 0;
            z-index: 99;
            background-color: #e5eaee;
            width: 100vw;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .advert-title {
            font-weight: 700;
            font-size: 18px;
        }
    
    
        .list {
            text-align: left;
            color: black;
            font-weight: 500;
            font-size: 18px;
        }
    
        #startTimerButton:hover {
            cursor: pointer;
        }
    
        #startTimerButton:disabled {
            background: gray;
            border: gray;
        }
    
        .form_container {
            width: 100%;
            margin-top: 100px;
        }
    
    
        .alert-time {
            margin-top: 5px;
            font-size: 16px;
            font-weight: 600;
        }
    
        /* Style for the popup */
        .popup {
            display: none;
            padding: 30px;
            width: 70%;
        }
    
        /* Style for the close button */
    
        .close-button { 
            width: 25px;
            height: 25px;
            border-radius: 50%;
            padding: .1em;
            font-size: 25px;
        }
}